<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" 
  backupGlobals="true" 
  bootstrap="vendor/autoload.php" 
  colors="true">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix=".php">tests/Unit/Creational</directory>
      <directory suffix=".php">tests/Unit/Structural</directory>
      <directory suffix=".php">tests/Unit/Behavioral</directory>
    </testsuite>
    
  </testsuites>
</phpunit>